@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.content{
    width: 100vw;
    height: 100vh;
}

#imageReplacement {
    height: auto;
    width: 15%;
    margin-right : 40px;
    border-radius : 12% 0px 0px 12%;
    background-image: url("../assets/Sunset.jpg");
    background-position: center;
    background-size: cover;
    /* 150 x 200 */
}
.announcement{
    display : flex;
    flex-direction: vertical;
    width : 70%;
    height : auto;
    border-radius: 20px;
    border-color : grey;
    box-shadow: 15px 15px 5px -3px rgba(183, 183, 183, 0.2);
    /* box-shadow: 10px 10px 15px -3px grey; */
    margin: 35px;
}

.descriptionLine{
    display: flex;
    flex-direction : horizontal;
    font-size: 1em;
}

.announcementAuthor {
    margin-right : 30px;
    margin-bottom : 1%
}

.textSide{
    display: flex;
    flex-direction : column;
    max-width: 70%;
    margin-bottom: 1.5%;
    margin-top : 1.2%;

}

.announcementTitle{
    font-weight: bold;
    font-size : 140%
}

@media screen and (max-width: 800px) {
    .textSide {
        font-size: 10px;
    }
    .announcement {
        width: 90%;
    }
}

