@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

#imageReplacement {
    height: 100%;
    width: 30%;
    background-color: black;
    color: black;
    margin-right : 40px;
}
.announcement{
    display : flex;
    flex-direction: horizontal;
    width : 70%;
    height : 100px;
}

.descriptionLine{
    display: flex;
    flex-direction : horizontal;
}

.announcementAuthor {
    margin-right : 30px;
}

.textSide{
    display: flex;
    align-items: center;
}
