@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

.content{
    width: 100vw;
    height: 100vh;
}

#imageReplacement {
    height: 100%;
    width: 10%;
    background-color: black;
    color: black;
    margin-right : 40px;
}
.announcement{
    display : flex;
    flex-direction: vertical;
    width : 70%;
    height : 100px;
}

.descriptionLine{
    display: flex;
    flex-direction : horizontal;
    font-size: 1em;
}

.announcementAuthor {
    margin-right : 30px;
}

#textSide{
    display: flex;
    flex-direction : column;
    margin-top: 2px;
    margin-bottom: auto;
}

.announcementTitle{
    font-weight: bold;
}

