@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
.section-title {
    font-size: 30px;
    margin: 30px;
    font-weight: 400;
}

.section-line {
    margin: 30px;
    width: 50%;
    height: 2px;
    background-color: #d9d9d9;
}

.content {
    margin: 30px;
}

.fontHeader {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
}

.fontBody {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.email-link {
    color: black;
}

a[href^="mailto"] {
    color: black;
}
  