@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
.program {
    transform: scale(0.7)
}

.section-line {
    margin: 30px;
    width: 50%;
    height: 2px;
    background-color: #d9d9d9;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
.section-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
}

.section-text {
    float: left;
}

.program-date {
    display: grid;
    text-align: center;
    display: flex;           
    flex-direction: column;    
    justify-content: center;    
    align-items: center;
    margin: 0px 40px;
}

.content {
    padding-bottom: 50px;
    padding-left: 15px;
}
.program {
    width: 800px;
    height: 180px;
    background-color: #134074;
    color: #ffffff;
    border-radius: 40px;
    display: flex;
    margin: -40px -90px -40px -140px;
    transform: scale(0.7)
}

#sellingPeriod{
    background-color: #000b47;
}

#universitySeminar{
    background-color: #121359;
}

#sellingPeriod2{
    background-color: #222e66;
}


#rsvp{
    background-color: #4918c5;
}

#microloan{
    background-color: #3b32f2;
}

#businessPlan{
    background-color: #BDC0DE;
    color: #303030;
}

#finComp{
    background-color: #DFE6FC;
    color: #303030;
}


.timeline-date {
    text-align: center;
    font-size: 60px;
    margin: 0px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.timeline-month {
    text-align: center;
    font-size: 23px;
    margin: 0px;
    display: flex;
    font-family: 'Open Sans', sans-serif;
}
.program-desc {
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    display: block;
    float: left;
    margin : 10px 10px 10px 25px;
}
.program-title {
    font-size: 24px;
    margin: 40px 30px 5px 25px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    display: block;
}

.program-line {
    width: 3px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 100px;
    margin: 50px 0px;
}

@media screen and (max-width: 620px) {
    .program {
        transform: scale(0.5);
        margin: -30px -150px -80px -150px;
    }
    
    .content {
        margin-bottom: 100px;
    }
}
